<!-- 3: Longer description about research and interests -->
<section id="research">
  <h2><span class="num">01</span>Research</h2>
  <p class="lede">
    I am a PhD student in the Department of
    <a href="https://www.ece.utexas.edu/" target="_blank" rel="noopener">Electrical &amp; Computer Engineering</a>
    at the University of Texas at Austin, advised by
    <a href="https://users.ece.utexas.edu/~gligoric/" target="_blank"
    rel="noopener">Dr. Milos Gligoric</a>. My research interests sits at the
    intersection of <strong>high performance computing</strong>,
    <strong>compilers</strong>, and <strong>programming languages</strong>. My
    work also includes high-performance computation geometry and human-computer
    interactions.
  </p>
</section>
