<!-- 7: Professional Services -->
<section id="service">
  <h2><span class="num">05</span>Professional Service</h2>
  <ul class="service-list">

    <li>
      <div class="service-when">2026</div>
      <div class="service-what">
        CGO '25 &mdash; artifact evaluator <br>
        OOPSLA '25 &mdash; reviewer <br>
        UT '25 Ph.D. student participant in faculty hiring process.
        </div>
    </li>

    <li>
      <div class="service-when">2025</div>
      <div class="service-what">CGO '25 &mdash; reviewer</div>
    </li>

  </ul>
</section>